{% extends "base.html" %}

{% block content %}

    <div style="display:flex; align-items:center; justify-content:center;">
        <figure><img src="{{url_for('static', filename='solidfuels.jpg')}}"><figcaption><a href="https://www.flickr.com/photos/cleancookstoves/7366237044/in/album-72157630051742097/" target="_blank">Image from Clean Cooking Alliance</a></figcaption></figure>
    </div>

    <div style="clear:left;">
    <ul>
        <li>I'm a research fellow in air quality at the University of Leeds, UK.</li>
        <li>I use complex air quality models to understand how policies can improve air quality and reduce the impact on human health in India, China, Indonesia, and South America.</li>
        <li>I completed a PhD in <a href="http://etheses.whiterose.ac.uk/22488/" target="_blank">Ambient air quality and human health in India</a> from the University of Leeds. I quantified the key sources of air pollution exposure in India, the impact of air pollution exposure on human health, and how might this change in the future. Overall, the disease burden associated with air pollution exposure in India is large, increasing, and dominated by solid fuel use (especially in homes). I was inspired by <a href="https://www.kirkrsmith.org/" target="_blank">Kirk R. Smith</a> and <a href="https://www.gapminder.org/videos/hans-rosling-and-the-magic-washing-machine/" target="_blank">Hans Rosling</a>.</li>
        <li>I gave lectures on air pollution and human health (<a href="https://www.lukeconibear.com/air_pollution_human_health/#/" target="_blank">slides</a>, <a href="https://github.com/lukeconibear/air_pollution_human_health" target="_blank">code</a> using reveal.js).</li>
    </ul>
    </div>

{% endblock content %}
