{% extends "base.html" %}

{% block content %}

    <h2 style="color:white;">PhD</h2>
        <p>I completed a PhD in <a href="http://etheses.whiterose.ac.uk/22488/" target="_blank">Ambient air quality and human health in India</a> from the University of Leeds, UK, in 2018. My supervisors were <a href="http://homepages.see.leeds.ac.uk/~eardvs/" target="_blank">Dominick Spracklen</a>, <a href="http://homepages.see.leeds.ac.uk/~lecsra/" target="_blank">Stephen Arnold</a>, <a href="https://christoph.knote.net/" target="_blank">Christoph Knote</a>, and <a href="https://eps.leeds.ac.uk/chemical-engineering/staff/7/professor-alan-williams" target="_blank">Alan Williams</a>. I was part of the <a href="https://bioenergy.leeds.ac.uk/" target="_blank">EPSRC Centre for Doctoral Training in Bioenergy</a>.</p>

    <ul style="color:white">
        <li>I simulated air quality using a numerical weather prediction model (<a href="https://www2.acom.ucar.edu/wrf-chem" target="_blank">WRF-Chem</a>) on a high-performance computer.</li>
        <li>I quantified the contribution of different sources to ambient air quality in India and the effects of future air pollution control pathways.</li>
        <li>I quantified the present and possible future disease burdens from air pollution exposure through combining these simulations of air pollution with epidemiological models.</li>
        <li>I taught the model to staff and PhD students, and I created and maintained an exhaustive user guide (<a href="{{ url_for("software") }}">here</a>), which continues to be used for training.</li>
        <li>I wrote 3 first-author papers, 6 co-author papers, and presented at 15 conferences.</li>
        <li>My work was the focus of 4 research spotlight articles (2 for EOS: Earth and Space Science News <a href="https://eos.org/research-spotlights/improving-air-quality-could-prevent-thousands-of-deaths-in-india" target="_blank">here</a> and <a href="https://eos.org/research-spotlights/ozone-pollution-deaths-in-india-higher-than-previously-thought" target="_blank">here</a>, 1 for the National Institute of Environmental Health Sciences of the United States Government <a href="https://www.niehs.nih.gov/research/programs/geh/geh_newsletter/2019/2/spotlight/ozone_pollution_likely_to_increase_disease_burden_in_india.cfm" target="_blank">here</a>, and 1 for the University of Leeds homepage <a href="https://www.leeds.ac.uk/news/article/4274/improving_air_quality_could_prevent_thousands_of_deaths_in_india" target="_blank">here</a>).</li>
        <li>I was a postgraduate researcher publication prize winner from the School of Earth and Environment, University of Leeds, UK, in 2018.</li>
        <li>I taught air pollution and human health to undergraduates. Take a look <a href="https://www.lukeconibear.com/air_pollution_human_health/#/" target="_blank">here</a> at this interactive presentation to find out more.</li>
    </ul>

    <h2 style="color:white;">Publications</h2>
        <p>from sympletic</p>


{% endblock content %}
