{% extends "base.html" %}

{% block content %}

    <div style="display:flex; align-items:center; justify-content:center;">
        <figure><img src="{{url_for('static', filename='font_crop.jpg')}}"></figure>
    </div>

    <div>
        <img src="/static/LukeConibear.jpg" style="width:140px;height:140px;" align="right" hspace="0" vspace="0">
        <p>I'm a research fellow in <a href="/airpollution.html">air quality</a> at the University of Leeds.</p>
        <p>I use <a href="/software.html">Python</a> to analyse complex air quality models.</p>
        <p>I've authored <a href="/publications.html">academic papers</a>, some of which have been in the <a href="/news.html">news</a>.</p>
        <p>Reach me at L.A.Conibear (at) Leeds.ac.uk</p>
        <p> </p>
        <p> </p>
        <p> </p>
    </div>


{% endblock content %}
