{% extends "base.html" %}

{% block content %}

    <h3 style="color:white; size:24px; font-family: Averta, sans-serif;">About me</h3>
 
        <p style="font-size:16px;">I'm an air pollution researcher and data scientist.</p>
        <p style="font-size:16px;">Currently, I'm a research fellow in air quality at the University of Leeds, UK. My focus is on understanding how policies can improve air quality and reduce the impact on human health in India, China, Indonesia, and South America.</p>
        <p style="font-size:16px;">I have a <a href="{{ url_for('airpollution') }}"><u>PhD</u></a> in air pollution from the University of Leeds, UK.</p>

    <h3 style="color:white; size:24px; font-family: Averta, sans-serif;">Contact</h3>

        <p>Reach me at L.A.Conibear (at) leeds.ac.uk</p>

{% endblock content %}
