{% extends "base.html" %}

{% block content %}

    <div style="display:flex; align-items:center; justify-content:center;">
        <figure><img src="{{url_for('static', filename='font_crop.jpg')}}"></figure>
    </div>

    <div>
        <img src="/static/LukeConibear.jpg" style="width:140px;height:140px;" align="right" hspace="0" vspace="0">
        <p>I'm a research fellow in air quality at the University of Leeds.</p>
        <p>Find out more about my work on <a href="/airpollution.html">air pollution</a> or the <a href="/software.html">software</a> I use.</p>
        <p>Reach me at L.A.Conibear (at) leeds.ac.uk</p>
        <p> </p>
        <p> </p>
        <p> </p>
    </div>


{% endblock content %}
