{% extends "base.html" %}

{% block content %}

    <div style="display:flex; align-items:center; justify-content:center;">
        <figure><img src="{{url_for('static', filename='solidfuels.jpg')}}"><figcaption><a href="https://www.flickr.com/photos/cleancookstoves/7366237044/in/album-72157630051742097/" target="_blank">Image from Clean Cooking Alliance</a></figcaption></figure>
    </div>

    <ol reversed>
        <li>National Institute of Environmental Health Sciences of the United States Government. Global Environmental Health Newsletter, February 2019. Failey, T. (2019), <a href="https://www.niehs.nih.gov/research/programs/geh/geh_newsletter/2019/2/spotlight/ozone_pollution_likely_to_increase_disease_burden_in_india.cfm" target="_blank">Ozone Pollution Likely to Increase Disease Burden in India</a>.</li>
        <li>American Geophysical Union, EOS: Earth and Space Science News. Underwood, E. (2019), <a href="https://doi.org/10.1029/2019EO118073" target="_blank">Ozone pollution deaths in India higher than previously thought</a>, 100. Published on 19 March 2019.</li>
        <li>University of Leeds, Environment News. <a href="https://www.leeds.ac.uk/news/article/4274/improving_air_quality_could_prevent_thousands_of_deaths_in_india" target="_blank">Improving air quality could prevent thousands of deaths in India</a>. Published on 10 August 2018.</li>
        <li>American Geophysical Union, EOS: Earth and Space Science News. Underwood, E. (2018), <a href="https://doi.org/10.1029/2018EO101851" target="_blank">Improving air quality could prevent thousands of deaths in India</a>, 99. Published on 07 August 2018.</li>
    </ol>

{% endblock content %}
