{% extends "base.html" %}

{% block content %}

    <div style="display:flex; align-items:center; justify-content:center;">
        <figure><img src="{{url_for('static', filename='model_crop.png')}}"><figcaption><a href="https://www.nasa.gov/content/a-portrait-of-global-winds" target="_blank">Image from William Putman/NASA Goddard Space Flight Center</a></figcaption></figure>
    </div>

    <h3>WRF-Chem</h3>

    <div style="clear:left;">
        <ul>
            <li>In my PhD and work as an air pollution researcher, I've simulated air quality using a numerical weather prediction model (<a href="https://www2.acom.ucar.edu/wrf-chem" target="_blank">WRF-Chem</a>) on a high-performance computer.</li>
            <li>As there is little training online for this model, I've taught it to research staff and PhD students, and I've created and maintained an exhaustive user guide (<a href="https://github.com/wrfchem-leeds/WRFotron/blob/master/WRFotron_user_guide.md" target="_blank">here</a>), which continues to be used for training.</li>
            <li>More details can be found on the WRF-Chem at the University of Leeds <a href="https://github.com/wrfchem-leeds" target="_blank">GitHub</a>.</li>
        </ul>
    </div>

    <h3>Python</h3>

    <div style="clear:left;">
        <ul>
            <li>I use Python to analyse the large amounts of data produced by these complex models (<a href="https://github.com/wrfchem-leeds/python-scripts" target="_blank">GitHub</a>).</li>
            <li>I developed this website using Flask (with some HTML/CSS), and deployed it on GitHub Pages using Frozen-Flask.</li>
            <li>I developed a Plot.ly Dash application to show how clean household energy can improve public health in India, and deployed it on PythonAnywhere <a href="https://bag.leeds.ac.uk/projects/air-quality-in-asia/household-energy-and-air-quality-in-india/" target="_blank">here</a>.</li>
            <li>I have created a guide on how to merge high-frequency swaths from multiple satellites into a single high-resolution NetCDF. The example case is for MODIS aerosol optical depth from NASA, <a href="https://github.com/lukeconibear/modis/blob/master/create_merged_modis_product.ipynb" target="_blank">here</a>.</li>
        </ul>
    </div>

    <h3>Other</h3>

    <div style="clear:left;">
      <ul>
        <li>I used <a href="https://revealjs.com" target="_blank">reveal.js</a> to create a lecture on air pollution and human health using HTML. Take a look <a href="https://www.lukeconibear.com/air_pollution_human_health/#/" target="_blank">here</a>.</li>
      </ul>
    </div>

{% endblock content %}
