{% extends "base.html" %}

{% block content %}

    <h3 style="color:white; font-size:24px; font-family:Averta, sans-serif;">WRF-Chem</h3>

    <div style="clear: left;">
        <ul style="color:white;">
        <li style="font-size:16px; font-family:Averta, sans-serif;";>In my PhD and work as an air pollution researcher, I've simulated air quality using a numerical weather prediction model (<a href="https://www2.acom.ucar.edu/wrf-chem" target="_blank"><u>WRF-Chem</u></a>) on a high-performance computer.</li>
        <li style="font-size:16px; font-family:Averta, sans-serif;";>As there is little training online for this model, I've taught it to research staff and PhD students, and I've created and maintained an exhaustive user guide (<a href="https://github.com/wrfchem-leeds/WRFotron/blob/master/WRFotron_user_guide.md" target="_blank"><u>here</u></a>), which continues to be used for training.</li>
        <li style="font-size:16px; font-family:Averta, sans-serif;";>More details can be found on the WRF-Chem at the University of Leeds <a href="https://github.com/wrfchem-leeds" target="_blank"><u>GitHub</u></a>.</li>
        </ul>
    </div>

{% endblock content %}
