name: deploy

on:
  push:
    branches:
      - main

jobs:
  deploy-book:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -l {0}

    steps:
      - uses: actions/checkout@v4

      - name: Setup Python environment
        uses: mamba-org/setup-micromamba@v1
        with:
          environment-file: environment.yml
          environment-name: website
          init-shell: bash
          cache-environment: true

      - name: Build Jupyter Book
        run: |
          python -m ipykernel install --user --name website
          jupyter-book build docs
          cp CNAME docs/_build/html/
          cp .nojekyll docs/_build/html/
          cp slides/* docs/_build/html/

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4.0.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: docs/_build/html
          force_orphan: true
          cname: www.lukeconibear.com
